.ipynb_checkpoints
__pycache__
tools/wwwroot
cachedir
.DS_Store
.venv/
.vscode/
default.profraw
tools/generate-individiual-plots.html
tools/generate-countries.html
.coverage
coverage.xml
oscovida-metadata
tools/binder
tools/status
oscovida.egg-info

venv/
.idea/